@import "tailwindcss";

html,
body {
  background-color: #09090b; /* zinc-950 */
  color: #f4f4f5; /* zinc-100 */
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial,
    sans-serif;
}

.mono {
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas,
    "Liberation Mono", monospace;
}
